extends layout

block content 

  

  <nav class="teal">
    <div class="nav-wrappe container">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Index</a></li>
        <li><a href="/login">Login</a></li>
        <li><a onclick="Materialize.toast('You must enter a username. Minimum for the length is 5 and maximum is 15.', 4000)">Username?</a></li>
        <li><a onclick="Materialize.toast('You must enter a valid email address. Minimum for the length is 6 and maximum is 20.', 4000)">Email?</a></li>
        <li><a onclick="Materialize.toast('You must enter a password. Minimum for the length is 5 and maximum is 25.', 4000)" color="teal">Password?</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    h1.center.flow-text Welcome to registeration

  

    div.container.center.register-container
    
      form(method='POST' action='/createUser')
                  div.form-group
                    label.left(for='name')
                    input#name.form-control(type='text', placeholder='Your name' name='name')
                  div.form-group
                    label.left(for='content') 
                    input#content.form-control(type='email', placeholder='Email' name='email')
                  div.form-group
                    label.left(for='content') 
                    input#content.form-control(type='password', placeholder='Password' name='password')
                  button.btn.left.btn-primary(type='submit') Create new user
  </div>




        


